/* Test */
body {
	position: relative;
	width: 310px;
	height: 530px;
	margin: 125px auto;
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/f/fa/IPhone_5.png');
	background-size: 415px;
	background-repeat: no-repeat;
	background-position: center 0px;
	
	left: 2px;
	top: 16px;
	font-size: 0.4em;

	--background-color: black;
}
/*
.mtscui.window:nth-child(1) {
	background-color: rgba(0, 0, 0, 0.5);
}
.mtscui.window:nth-child(2) {
	background-color: rgba(0, 0, 0, 0.5);
}
*/

.mtscui.window.hide {
	-webkit-filter: blur(2px) !important;
    -moz-filter: blur(2px) !important;
    -o-filter: blur(2px) !important;
    -ms-filter: blur(2px) !important;
    filter: blur(2px) !important;
}
/* end Test */

*.mtscui .mtscui * {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.mtscui.window {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border: solid 1px red;
	background-color: rgba(255, 255, 255, 0.5);
	overflow: hidden;
}

.mtscui.window.hide {
	-webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.mtscui.component {
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
}

.mtscui.window .mtscui.page {
	padding-top: 40px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

/* Page Header */
.mtscui.window .mtscui.page .mtscui.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(255, 0, 0, 0.6);
	height: 40px;
}
.mtscui.window .mtscui.page .mtscui.header .mtscui.left {	
	padding-left: 2%;
	width: 15%;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	height: 40px;
	text-align: left;
}
.mtscui.window .mtscui.page .mtscui.header .mtscui.middle {
	width: 70%;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	height: 40px;
}

.mtscui.window .mtscui.page .mtscui.header .mtscui.right {
	padding-right: 2%;
	width: 15%;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	height: 40px;
	text-align: right;
}

/* Page Content */
.mtscui.window .mtscui.page .mtscui.content {}