/* Test */
body.debug {
	position: relative;
	width: 310px;
	height: 530px;
	margin: 125px auto;
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/f/fa/IPhone_5.png');
	background-size: 415px;
	background-repeat: no-repeat;
	background-position: center 0px;
	
	left: 2px;
	top: 16px;
	font-size: 0.4em;

	--background-color: black;
}

.debug .mtsui.window .mtsui.header {
	position: absolute;
}

.debug .mtsui.window:nth-of-type(2) {
	left: 20px;
	top: -20px;
	bottom: 20px;
	right: -20px;
}
.debug .mtsui.window:nth-of-type(3) {
	left: 40px;
	top: -40px;
	bottom: 40px;
	right: -40px;
}
.debug .mtsui.window:nth-of-type(4) {
	left: 60px;
	top: -60px;
	bottom: 60px;
	right: -60px;
}
.debug .mtsui.window:nth-of-type(5) {
	left: 80px;
	top: -80px;
	bottom: 80px;
	right: -80px;
}

.debug .mtsui.window:nth-of-type(6) {
	left: 100px;
	bottom: 100px;
	right: -100px;
	top: -100px;
}

.debug .mtsui.window.hide {
	-webkit-filter: blur(2px) !important;
    -moz-filter: blur(2px) !important;
    -o-filter: blur(2px) !important;
    -ms-filter: blur(2px) !important;
    filter: blur(2px) !important;
}


/* Component */
.debug .mtsui.component {
	border: solid 1px black !important;
	margin: 5px !important;
	padding: 5px !important;
}

/* end Test */

/* Global mtsui */
*.mtsui .mtsui * {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Window */
.mtsui.window {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	overflow: hidden;
}

.mtsui.window.hide {
	-webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.mtsui.window.modal {
	background: transparent;
	z-index: 0;
}

.mtsui.window.modal .mtsui.window {
	left: 10%;
	right: 10%;
	top: 20px;
	bottom: 20px;
	
	border: solid 1px black;
	border-radius: 5px;

	z-index: 1;
}

.mtsui.window.modal .mtsui.window.popup {
	left: 10%;
	right: 10%;
	top: 20px;
	height: 200px;

	z-index: 1;
}

/* Page */
.mtsui.window .mtsui.page {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	opacity: 1;
	transition: all 1s;
}

.mtsui.window .mtsui.page.transition.slide.hide.left {
	left: -110%;
	right: 110%;
	opacity: 0;
}
.mtsui.window .mtsui.page.transition.slide.right {
	left: 110%;
	right: -110%;
	opacity: 0;
}
.mtsui.window.fullscreen .mtsui.page.transition.slide.in .mtsui.header {
	position: fixed;
}


/* Menu */
.mtsui.window .mtsui.menu.page {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 80%;
	height: 100%;
	left: auto;
	right: auto;

	padding-top: 0;

	background-color: rgba(0, 0, 255, 0.5);
}

.mtsui.window .mtsui.menu.page.right {
	right: -80%;
}
.mtsui.window .mtsui.page.right.hide {
	right: 80%;
	left: -80%;
}


.mtsui.window .mtsui.menu.page.left {
	left: -80%;
}
.mtsui.window .mtsui.page.left.hide {
	left: 80%;
	right: -80%;
}

.mtsui.window .mtsui.menu.page.right.show {
	right: 0;
}

.mtsui.window .mtsui.menu.page.left.show {
	left: 0;
}

/* Page Header */
.mtsui.window .mtsui.page .mtsui.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	
	background-color: rgba(255, 255, 255, 1);
}
.mtsui.window .mtsui.page .mtsui.header .mtsui.left {	
	padding-left: 2%;
	width: 15%;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	height: 40px;
	text-align: left;
}
.mtsui.window .mtsui.page .mtsui.header .mtsui.middle {
	width: 70%;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	height: 40px;
}

.mtsui.window .mtsui.page .mtsui.header .mtsui.right {
	padding-right: 2%;
	width: 15%;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	height: 40px;
	text-align: right;
}

/* Page Content */
.mtsui.window .mtsui.page .mtsui.content {
	margin: 5px;
	
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* Button */
.mtsui.button {
	padding: 5px;
	border: solid 1px black;
	background-color: rgba(255, 255, 255,1);
	border-radius: 10px;
}

.mtsui.button .mtsui.icon.left {
	padding-right: 5px;
}
.mtsui.button .mtsui.icon.right {
	padding-left: 5px;
}

/* List */
.mtsui.list {
	margin-top: 20px;
}

.mtsui.list .mtsui.listitem {
	border-bottom: solid 1px black;
	padding: 5px;
	width: 100%;
}

.mtsui.list .mtsui.listitem .mtsui.listtext {
}

.mtsui.list .mtsui.listitem .mtsui.right {
	text-align: right;
}